
h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.55;
  color: #333;
  font-size: 400;
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 10px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

.card {
  position: relative;
  padding: 0;
  border: 0;
  border-radius: 0;
  margin: 0;
  overflow: hidden;
}

a:hover {
  text-decoration: none !important;
}

.scrolltop {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #199EB8;
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.scrolltop:hover, .scrolltop:active, .scrolltop:focus {
  color: #fff !important;
  opacity: .75;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
  text-transform: uppercase;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  margin: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 20px 15px 20px 15px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 14px;
  outline: none;
}

.nav-menu a:hover, .nav-menu li:hover > a, .nav-menu .menu-active > a {
  color: rgba(255, 255, 255, 0.75);
}

.nav-menu ul {
  margin: 4px 0 0 15px;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
  background: #fff;
  border-top: 1px solid #f4f4f4;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li:hover {
  background: #199EB8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.nav-menu ul li a {
  color: #333;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  padding: 10px 15px;
}

.nav-menu ul li a:hover {
  color: #fff;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 8px 10px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #199EB8;
}

#mobile-nav ul .menu-item-active {
  color: #199EB8;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/* ==================================================
  Hero Styling
================================================== */
/* .hero {
  display: table;
  position: relative;
  background-image: url(../img/cover.jpg);
  background-size: cover;
  padding: 150px 0;
  color: #fff;
  width: 100%;
  height: 100vh;
}

.hero:after {
  content: '';
  z-index: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.hero .container {
  position: relative;
  z-index: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.hero h1{
  font-size: 50px;
  font-weight: bold;
}
.tagline {
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
  font-size: 22px;
  margin: 80px 0 80px 0;
  line-height: 35px;
  color: #fff;
} */

/* ==================================================
  Header Styling
================================================== */
#header {
  background: #199EB8;
  height: 70px;
}
#header #logo {
  margin: 14px 25px 0 0;
}
#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 2px 0;
  line-height: 1;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
}
#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

@media (max-width: 768px) {
  #header {
    height: 50px;
  }
  #header #logo {
    margin: 10px 0 0 0;
  }
  #header #logo h1 {
    padding: 2px 0;
    font-size: 26px;
  }
  #header #logo img {
    max-height: 30px;
  }
}


/* ==================================================
  Profil 
================================================== */
.profil{
  background: #f7f7f7;
  padding: 100px 0;
}
.profil h2{
  font-size: 40px;
  font-weight: bold;
  color: #199EB8;
  margin: 20px 0;
}
.profil p{
  font-size: 20px;
  margin: 80px 0;
  text-align: justify;
}

/* ==================================================
  Berita
  ================================================== */
.berita {
  background-color: #99ccff;
  padding: 70px 0;
}
.berita h2 {
  color: #199EB8;
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0;
}
.portfolio-grid {
  margin-top: 5px;
}
.portfolio-grid .row {
  margin: 0;
  padding: 10px 0px;

}
.post{
  background: #FFF;
  margin: 25px;
  padding-bottom: 120px;
  border-radius: 15px;
}
.post .post-img{
  margin: -5px 0px 5px 0px;
}
.post-img img{
  width: 100%;
  height: 260px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.post .post-body{
  font-family: 'Raleway', Arial, sans-serif;
  padding: 20px;  
  letter-spacing: 1px;
}

.post .post-body h3{
  font-size: 18px;
  line-height: 22px;
  color: #99ccff;
  text-transform: uppercase;
}
.post .post-info{
  float: left;
  margin-top: 30px;
  padding: 5px;
  font-size: 14px;
}
.post .post-button{
  float: right;
  margin-top: 50px;
  border: 3px solid #99ccff;
  border-radius: 10px;
  color: #99ccff;
}



/* ==================================================
  Kontak
  ================================================== */
#kontak {
  background: #f7f7f7;
  padding: 40px 0 100px 0;
}
#kontak h2 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #199EB8;
  font-size: 40px;
  font-weight: bold;
  margin: 80px 0;
}
#kontak .info{
  padding: 0px 25px;
}
#kontak .alamat {
  margin: 10px;
}
#kontak .email{
  margin: 10px;
}
#kontak .telp {
  margin: 10px;
}

#kontak .alamat i {
  font-size: 46px;
  color: #199EB8;
  float: left;
  margin: 5px 20px 5px 10px;
}
#kontak .email i {
  font-size: 46px;
  color: #199EB8;
  float: left;
  margin: -8px 20px 10px 10px;
}
#kontak .telp i {
  font-size: 46px;
  color: #199EB8;
  float:left;
  margin: -10px 20px 10px 10px;
}
#kontak .info p {
  padding: 0px 0px 50px 10px;
  line-height: 24px;
  text-align: left;
  font-weight: bold;
}

/* ==================================================
  Footer Styling
  ================================================== */
.site-footer {
  background-color: #111;
  padding: 0;
}

.site-footer h2, .site-footer p {
  color: #fff;
}

.site-footer p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  opacity: .75;
  line-height: 2.0925;
  text-align: center;
  margin: 30px;
}

.site-footer .bottom {
  background-color: #000;
}


/* ==================================================
  Responsive Styling
  ================================================== */
@media (max-width: 61.9em) {
  section,
  .block,
  .cta {
    padding: 35px 0;
  }
  .features {
    padding-bottom: 5px;
  }
  p,
  .block p {
    margin: 0;
  }
  .hero-brand {
    margin-bottom: 35px;
  }
  .tagline {
    margin: 35px 0;
  }
  .hero {
    padding: 75px 0;
  }
  .stats-col {
    margin-bottom: 25px;
  }
  .block {
    height: auto;
  }
  .feature-col {
    padding-bottom: 30px;
  }
  .portfolio-grid .card h3.card-title {
    font-size: 18px !important;
  }
  .portfolio-grid .card .card-text {
    font-size: 13px;
  }
  .team .team-over {
    padding-top: 20px;
  }
  .team .card .social-nav {
    margin-bottom: 15px;
    padding: 0;
  }
  .site-footer .social-nav {
    margin-bottom: 35px;
  }
  .site-footer .list-inline {
    text-align: center;
    padding-bottom: 15px;
  }
  .site-footer .list-inline li {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .block {
    padding-left: 30px;
    padding-right: 30px;
  }
}
